<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        <!--
        模拟Spring执行过程
            创建service实例                 ->Ioc <bean>
            创建dao实例                     ->Ioc
            将dao注入service （setter()）   ->DI  <property>

            <property> 用于属性注入
            name:bean的属性名， 通过setter获得
            ref: 依赖的id值
        -->
        <bean id="BookServiceID" class="com.itheima.b_di.BookServiceImpl">
            <property name="bookDao2" ref="BookDaoID"></property>
        </bean>
        <bean id="BookDaoID" class="com.itheima.b_di.BookDaoImpl"></bean>

</beans>